body {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.2em;
  color: $copy;
  background: $page;
  caret-color: $green;
}

a {
  color: $link;
  text-decoration: underline;

  &:hover {
    background: $link;
    color: $page;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  color: inherit;
  background: inherit;
  border-radius: 0;
  border: 1px solid $dimmed;
  appearance: none;
  padding: 0;
}
