{
  "presets": [
    "airbnb",
    ["es2015", { "modules": false }],
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "dynamic-import-webpack",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-react-jsx",
  ],
}
