root: true

parser: babel-eslint

extends: [airbnb]
plugins: [react, react-with-styles, import, airbnb]

env:
  browser: true
  es6: true
  node: true

ecmaFeatures:
  jsx: true
  modules: true

experimentalDecorators: 0
