{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
  ],
  "env": {
    "browser": true,
  },
  "globals": {
    "DEV": true,
  },
  "rules": {
    "no-console": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-shadow": 0,
    "react/no-typos": 0,
    "jsx-a11y/anchor-is-valid": [
      "error", {
        "components": [ "Link" ],
        "specialLink": [ "to" ],
      },
    ],
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/config/webpack.config.js",
      },
    },
  },
}
