{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
  ],
  "env": {
    "browser": true,
  },
  "globals": {},
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          ".storybook/**/*",
          "stories/**/*",
          "webpack/**/*",
        ],
      },
    ],
    "jsx-a11y/anchor-is-valid": [
      "error", {
        "components": [ "Link" ],
        "specialLink": [ "to" ]
      },
    ],
    "no-console": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "object-curly-newline": "off",
    "react/forbid-prop-types": "warn",
    "react/no-typos": "off",
  },
}
